@model ForgetPasswordViewModel

@{
    ViewData["Title"] = "ForgetPassword";
}
<div class="d-flex align-items-center justify-content-center h-100">
    <div class="card text-center " style="max-width: 340px;">
        <div class="card-header h5 text-white" style="background-color: #5536df;">Password Reset</div>
        <div class="card-body px-5">
            <p class="card-text py-2">
                Enter your email address and we'll send you an email with instructions to reset your password.
            </p>
            <div data-mdb-input-init class="form-outline">
                <form asp-action="ForgetPassword" method="post">
                    <div data-validate="Enter Email">
                        <input required  class="form-control my-3" type="email" asp-for="Email" placeholder="Email Name">
                        <span asp-validation-for="Email"></span>
                    </div>
                    <input type="submit" style="background-color: #5536df;" data-mdb-ripple-init class="btn btn-primary w-100" value="Reset Password" />
                </form>
            </div>
            <div class="d-flex justify-content-between mt-4">
                <a class="link-primary" asp-action="Login">Login</a>
                <a class="link-primary" asp-action="SignUp">Register</a>
            </div>
        </div>
    </div>
</div>



