@model ForgetPasswordViewModel

@{
    ViewData["Title"] = "ForgetPassword";
}
<form class="login100-form validate-form" asp-action="ForgetPassword" method="post">
	<span class="login100-form-logo">
		<i class="zmdi zmdi-landscape"></i>
	</span>


	<div class="wrap-input100 validate-input" data-validate="Enter Email">
		<input class="input100 form-control" type="email" asp-for="Email" placeholder="Email Name">
		<span asp-validation-for="Email"></span>
	</div>
	<input type="submit" value="Reset Password" />
</form>

