@model ResetPasswordViewModel

@{
    ViewData["Title"] = "ResetPassword";
}

<h1>ResetPassword</h1>
<form asp-action="ResetPassword" method="post">
	<input type="email" asp-for="Email" />
	<input type="text" asp-for="Token" hidden/>
	<div class="wrap-input100 validate-input" data-validate="Enter Password">
		<input class="form-control" type="password" asp-for="Password" placeholder="Password">
		<span asp-validation-for="Password"></span>
	</div>
	<br />
	<div class="wrap-input100 validate-input" data-validate="Enter Confirm Password">
		<input class="form-control" type="password" asp-for="ConfirmPassword" placeholder="Confirm Password">
		<span asp-validation-for="ConfirmPassword"></span>
	</div>
	<input type="submit" value="Change Password" class="btn btn-primary" />
</form>


