:root {
    --white: white;
    --blue: #5235de;
    --blue2: #0d69d5;
    --lightblue: #f1f5f9;
    --orange: #f59e0b;
    --yellow: #ffc107;
    --green: #22c55e;
    --red: #f44336;
    --greydark: #888;
    --greydark2: #2e2e30;
    --grey: #ddd;
    --grey2: #ccc;
    --grey3: #e7e5e5;
    --greylight: #f6f6f6;
    --greylight2: #eee;
    --blacklight: #41414185;
    --black: #000000;
    --black2: #1a1a1e;
    --blackbackground: #121315;
    --lightbluetemp: #f1f5f9;
    --whitetemp: white;
    --greytemp: #ddd;
}
