select option[value="default"] {
    background-color: #F4F6FF;
}

.no-click {
    color: grey;
    cursor: not-allowed;
}

#quantity-error {
    color: red;
    display: none;
}

.close-btn {
    color: white;
    background-color: gray;
    border: none;
    padding: 7px 14px;
    border-radius: 6px;
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: -10px;
}

.close-btn:hover {
    color: #35374B;
}

#page-item-count{
    color: gray;
}

select:focus, select:hover {
    border-color: #593bdb !important; /* Change border to purple */
    box-shadow: 0 0 5px #593bdb !important; /* Add purple shadow */
    outline: none; /* Remove default blue outline */
}
.print-icon{
    color: white;
}
.icon:hover{
    color: #2e2e30;
}
/* Ensure the icon color is the same as the button text on hover */
.btn.add-btn:hover .print-icon {
    color: inherit; /* Makes the icon inherit the color of the text */
  }
