<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Koala</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/colors.css" />
    <link rel="stylesheet" href="~/css/side-bar.css" />
    <link rel="stylesheet" href="~/KoalaInventoryManagement.styles.css" asp-append-version="true" />
    <!-- Font Awesome Kit -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <style>
        .report-container {
            text-align: center;
        }

        .company-logo {
            max-width: 150px;
        }

        .report-table {
            margin: 20px auto;
            border-collapse: collapse;
            width: 80%;
        }

        .report-table th,
        .report-table td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
    </style>
</head>

<body>

    <div class="main-page">
        <div class="sidebar">
            @await Html.PartialAsync("_SideBar")
        </div>
        <main role="main" class="w-100">

            @RenderBody()

            @* Spinning loader between views Start *@
            <div id="preloader">
                <div class="loader">
                    <svg class="circular" viewBox="25 25 50 50">
                        <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3"
                            stroke-miterlimit="10" />
                    </svg>
                </div>
            </div>
            @* Spinning loader between views End *@

        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://kit.fontawesome.com/831317d937.js" crossorigin="anonymous"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>

</html>
