@{
    ViewData["Title"] = "Home";
}
<link rel="stylesheet" href="~/css/landing-page/Landing-Page.css" />

<div class=" p-0">
    <!-- ***** Welcome Area Start ***** -->
    <section id="home" class="section welcome-area bg-overlay overflow-hidden d-flex align-items-center h-mi">
        <div class="container p-5 pt-0">
            <div class="row align-items-center">
                <!-- Welcome Intro Start -->
                <div class="col-12 col-md-8 col-lg-8">
                    <div class="welcome-intro">
                        <h1 class="text-white">Optimize Your Inventory with Koala</h1>
                        <p class="text-white my-4">Streamline your inventory management and stay ahead with real-time tracking, insightful analytics, and seamless integration. Koala empowers businesses to reduce waste, improve efficiency, and make data-driven decisions.</p>
                        <!-- Store Buttons -->
                        <div class="button-group store-buttons d-flex">
                            <a href="#">
                                <img src="~/Images/Home/icon/google-play.png" alt="">
                            </a>
                            <a href="#">
                                <img src="~/Images/Home/icon/app-store.png" alt="">
                            </a>
                        </div>
                        <span class="d-inline-block text-white fw-3 font-italic mt-3 pl-3">* Application Under Development.</span>
                    </div>
                </div>
                <div class="col-12 col-md-4 col-lg-4">
                    <!-- Welcome Thumb -->
                    <div class="welcome-thumb mx-auto rounded" data-aos="fade-left" data-aos-delay="500" data-aos-duration="1000">
                        <img class="rounded-2" src="~/Images/Home/welcome.PNG" alt="">
                    </div>
                </div>
            </div>
        </div>
        <!-- Shape Bottom -->
        <div class="shape-bottom">
            <svg viewBox="0 0 1920 310" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="svg replaced-svg">
                <title>sApp Shape</title>
                <desc>Created with Sketch</desc>
                <defs></defs>
                <g id="sApp-Landing-Page" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="sApp-v1.0" transform="translate(0.000000, -554.000000)" fill="#FFFFFF">
                        <path d="M-3,551 C186.257589,757.321118 319.044414,856.322454 395.360475,848.004007 C509.834566,835.526337 561.525143,796.329212 637.731734,765.961549 C713.938325,735.593886 816.980646,681.910577 1035.72208,733.065469 C1254.46351,784.220361 1511.54925,678.92359 1539.40808,662.398665 C1567.2669,645.87374 1660.9143,591.478574 1773.19378,597.641868 C1848.04677,601.75073 1901.75645,588.357675 1934.32284,557.462704 L1934.32284,863.183395 L-3,863.183395" id="sApp-v1.0"></path>
                    </g>
                </g>
            </svg>
        </div>
    </section>
    <!-- ***** Welcome Area End ***** -->

    <!-- ***** Counter Area Start ***** -->
    <section class="section counter-area ptb_50">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-5 col-sm-3 single-counter text-center">
                    <div class="counter-inner p-3 p-md-0">
                        <!-- Counter Item -->
                        <div class="counter-item d-inline-block mb-3">
                            <span class="counter fw-7">10</span><span class="fw-7">K</span>
                        </div>
                        <h5>Sales</h5>
                    </div>
                </div>
                <div class="col-5 col-sm-3 single-counter text-center">
                    <div class="counter-inner p-3 p-md-0">
                        <!-- Counter Item -->
                        <div class="counter-item d-inline-block mb-3">
                            <span class="counter fw-7">23</span><span class="fw-7">K</span>
                        </div>
                        <h5>Product</h5>
                    </div>
                </div>
                <div class="col-5 col-sm-3 single-counter text-center">
                    <div class="counter-inner p-3 p-md-0">
                        <!-- Counter Item -->
                        <div class="counter-item d-inline-block mb-3">
                            <span class="counter fw-7">9</span><span class="fw-7">M</span>
                        </div>
                        <h5>Customer</h5>
                    </div>
                </div>
                <div class="col-5 col-sm-3 single-counter text-center">
                    <div class="counter-inner p-3 p-md-0">
                        <!-- Counter Item -->
                        <div class="counter-item d-inline-block mb-3">
                            <span class="counter fw-7">5</span><span class="fw-7"></span>
                        </div>
                        <h5>Developers</h5>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Counter Area End ***** -->

    <!-- ***** Features Area Start ***** -->
    <section id="features" class="section features-area style-two overflow-hidden ptb_100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 col-lg-8">
                    <!-- Section Heading -->
                    <div class="section-heading text-center">
                        <span class="d-inline-block rounded-pill shadow-sm fw-5 px-4 py-2 mb-3">
                            <i class="far fa-lightbulb text-primary mr-1"></i>
                            <span class="text-primary">Premium</span>
                            Features
                        </span>
                        <h2>Why Choose Koala?</h2>
                        <p class="d-none d-sm-block mt-4">Koala offers a comprehensive solution for efficient inventory management, providing real-time insights, customizable alerts, and advanced data security.</p>
                        <p class="d-block d-sm-none mt-4">Koala empowers businesses with real-time inventory insights and advanced security.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4 res-margin">
                    <!-- Image Box -->
                    <div class="image-box text-center icon-1 p-5 wow fadeInLeft" data-wow-delay="0.4s">
                        <!-- Featured Image -->
                        <div class="featured-img mb-3">
                            <img class="avatar-sm" src="/Images/Home/icon/featured-img/layers.png" alt="">
                        </div>
                        <!-- Icon Text -->
                        <div class="icon-text">
                            <h3 class="mb-2">Streamlined Operations</h3>
                            <p>Optimize and automate inventory workflows to reduce human error and improve overall efficiency.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 res-margin">
                    <!-- Image Box -->
                    <div class="image-box text-center icon-1 p-5 wow fadeInUp" data-wow-delay="0.2s">
                        <!-- Featured Image -->
                        <div class="featured-img mb-3">
                            <img class="avatar-sm" src="/Images/Home/icon/featured-img/speak.png" alt="">
                        </div>
                        <!-- Icon Text -->
                        <div class="icon-text">
                            <h3 class="mb-2">Real-Time Insightst</h3>
                            <p>Gain immediate access to vital data, enabling faster decision-making and inventory optimization.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <!-- Image Box -->
                    <div class="image-box text-center icon-1 p-5 wow fadeInRight" data-wow-delay="0.4s">
                        <!-- Featured Image -->
                        <div class="featured-img mb-3">
                            <img class="avatar-sm" src="/Images/Home/icon/featured-img/lock.png" alt="">
                        </div>
                        <!-- Icon Text -->
                        <div class="icon-text">
                            <h3 class="mb-2">Secure Data</h3>
                            <p>Your data is fully protected with end to end encryption, ensuring security and compliance with industry standards.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Features Area End ***** -->

    <!-- ***** Work Area Start ***** -->
    <section class="section work-area bg-overlay overflow-hidden ptb_100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 col-lg-8">
                    <!-- Work Content -->
                    <div class="work-content text-center">
                        <h2 class="text-white">How Koala Works?</h2>
                        <p class="d-none d-sm-block text-white my-3 mt-sm-4 mb-sm-5">Koala simplifies inventory management with an intuitive workflow, helping you track stock, automate processes, and gain insights with ease.</p>
                        <p class="d-block d-sm-none text-white my-3">Koala streamlines inventory management for efficiency and accuracy.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-4">
                    <!-- Single Work -->
                    <div class="single-work text-center p-3">
                        <!-- Work Icon -->
                        <div class="work-icon">
                            <img class="avatar-md" src="/Images/Home/icon/work/download.png" alt="Download Koala">
                        </div>
                        <h3 class="text-white py-3">Download Koala</h3>
                        <p class="text-white">Get started by downloading the Koala app on your preferred platform for seamless inventory management.</p>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <!-- Single Work -->
                    <div class="single-work text-center p-3">
                        <!-- Work Icon -->
                        <div class="work-icon">
                            <img class="avatar-md" src="/Images/Home/icon/work/settings.png" alt="Setup Profile">
                        </div>
                        <h3 class="text-white py-3">Set Up Your Account</h3>
                        <p class="text-white">Configure your profile and customize settings to suit your business needs, ensuring smooth inventory tracking and control.</p>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <!-- Single Work -->
                    <div class="single-work text-center p-3">
                        <!-- Work Icon -->
                        <div class="work-icon">
                            <img class="avatar-md" src="/Images/Home/icon/work/app.png" alt="Use Koala">
                        </div>
                        <h3 class="text-white py-3">Manage Your Inventory</h3>
                        <p class="text-white">Enjoy powerful features like real-time updates, inventory alerts, and detailed analytics to stay on top of your stock management.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Work Area End ***** -->

    <!-- ***** Review Area Start ***** -->
    <section id="review" class="review-area ptb_100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 col-lg-8">
                    <!-- Section Heading -->
                    <div class="section-heading text-center">
                        <span class="d-inline-block rounded-pill shadow-sm fw-5 px-4 py-2 mb-3">
                            <i class="far fa-lightbulb text-primary mr-1"></i>
                            <span class="text-primary">Customer</span>
                            Feedback
                        </span>
                        <h2 class="text-capitalize">What our clients say about Koala</h2>
                        <p class="d-none d-sm-block mt-4">Our customers rely on Koala for streamlined inventory management and have seen remarkable improvements in efficiency and control.</p>
                        <p class="d-block d-sm-none mt-4">Hear what our customers have to say about Koala’s impact on their business.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4 res-margin">
                    <!-- Single Review -->
                    <div class="single-review card">
                        <!-- Card Top -->
                        <div class="card-top p-4">
                            <div class="review-icon">
                                <i class="fas fa-star text-warning"></i>
                                <i class="fas fa-star text-warning"></i>
                                <i class="fas fa-star text-warning"></i>
                                <i class="fas fa-star text-warning"></i>
                                <i class="fas fa-star text-warning"></i>
                            </div>
                            <h4 class="text-primary mt-4 mb-3">Outstanding Performance!</h4>
                            <!-- Review Text -->
                            <div class="review-text">
                                <p>Koala has completely transformed how we handle inventory. The real-time tracking and alerts are saviors for our growing business.</p>
                            </div>
                            <!-- Quotation Icon -->
                            <div class="quot-icon">
                                <img class="avatar-md" src="/Images/Home/icon/quote.png" alt="Quotation Icon">
                            </div>
                        </div>
                        <!-- Reviewer -->
                        <div class="reviewer d-flex justify-content-around media bg-gray p-4">
                            <!-- Reviewer Thumb -->
                            <div class="reviewer-thumb">
                                <img class="avatar-lg radius-100" src="/Images/Home/avatar/avatar-1.png" alt="Reviewer 1">
                            </div>
                            <!-- Reviewer Media -->
                            <div class="reviewer-meta media-body align-self-center ml-4">
                                <h5 class="reviewer-name color-primary mb-2">Ahmed Khaled</h5>
                                <h6 class="text-secondary fw-6">OM, ABC Corp</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 res-margin">
                    <!-- Single Review -->
                    <div class="single-review card">
                        <!-- Card Top -->
                        <div class="card-top p-4">
                            <div class="review-icon">
                                <i class="fas fa-star text-warning"></i>
                                <i class="fas fa-star text-warning"></i>
                                <i class="fas fa-star text-warning"></i>
                                <i class="fas fa-star text-warning"></i>
                                <i class="fas fa-star-half-alt text-warning"></i>
                            </div>
                            <h4 class="text-primary mt-4 mb-3">Great Support Team!</h4>
                            <!-- Review Text -->
                            <div class="review-text">
                                <p>The Koala team provided excellent support during our onboarding process. It’s a must-have tool for inventory management.</p>
                            </div>
                            <!-- Quotation Icon -->
                            <div class="quot-icon">
                                <img class="avatar-md" src="/Images/Home/icon/quote.png" alt="Quotation Icon">
                            </div>
                        </div>
                        <!-- Reviewer -->
                        <div class="reviewer d-flex justify-content-around media bg-gray p-4">
                            <!-- Reviewer Thumb -->
                            <div class="reviewer-thumb">
                                <img class="avatar-lg radius-100" src="/Images/Home/avatar/avatar-2.png" alt="Reviewer 2">
                            </div>
                            <!-- Reviewer Media -->
                            <div class="reviewer-meta media-body align-self-center ml-4">
                                <h5 class="reviewer-name color-primary mb-2">Amira Ali</h5>
                                <h6 class="text-secondary fw-6">WM, DEF Logistics</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <!-- Single Review -->
                    <div class="single-review card">
                        <!-- Card Top -->
                        <div class="card-top p-4">
                            <div class="review-icon">
                                <i class="fas fa-star text-warning"></i>
                                <i class="fas fa-star text-warning"></i>
                                <i class="fas fa-star text-warning"></i>
                                <i class="fas fa-star text-warning"></i>
                                <i class="fas fa-star text-warning"></i>
                            </div>
                            <h4 class="text-primary mt-4 mb-3">Highly Recommended!</h4>
                            <!-- Review Text -->
                            <div class="review-text">
                                <p>Since switching to Koala, we’ve seen improved accuracy and significant time savings in our inventory processes.</p>
                            </div>
                            <!-- Quotation Icon -->
                            <div class="quot-icon">
                                <img class="avatar-md" src="/Images/Home/icon/quote.png" alt="Quotation Icon">
                            </div>
                        </div>
                        <!-- Reviewer -->
                        <div class="reviewer d-flex justify-content-around media bg-gray p-4">
                            <!-- Reviewer Thumb -->
                            <div class="reviewer-thumb">
                                <img class="avatar-lg radius-100" src="/Images/Home/avatar/avatar-3.png" alt="Reviewer 3">
                            </div>
                            <!-- Reviewer Media -->
                            <div class="reviewer-meta media-body align-self-center ml-4">
                                <h5 class="reviewer-name color-primary mb-2">Mohamed Fahmy</h5>
                                <h6 class="text-secondary fw-6">CEO, GHI Retail</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Review Area End ***** -->

    <!-- ***** Price Plan Area Start ***** -->
    <section id="pricing" class="section price-plan-area bg-gray overflow-hidden ptb_100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 col-lg-8">
                    <!-- Section Heading -->
                    <div class="section-heading text-center">
                        <h2>Unlock Full Power of Koala</h2>
                        <p class="d-none d-sm-block mt-4">Choose the plan that best suits your business needs and take control of your inventory management with Koala's powerful tools.</p>
                        <p class="d-block d-sm-none mt-4">Select a plan that fits your inventory needs with Koala.</p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-12 col-sm-10 col-lg-8">
                    <div class="row price-plan-wrapper">
                        <div class="col-12 col-md-6">
                            <!-- Single Price Plan -->
                            <div class="single-price-plan text-center p-5 wow fadeInLeft" data-aos-duration="2s" data-wow-delay="0.4s">
                                <!-- Plan Thumb -->
                                <div class="plan-thumb">
                                    <img class="avatar-lg" src="/Images/Home/pricing/basic.png" alt="Basic Plan">
                                </div>
                                <!-- Plan Title -->
                                <div class="plan-title my-2 my-sm-3">
                                    <h4 class="text-uppercase">Basic</h4>
                                </div>
                                <!-- Plan Price -->
                                <div class="plan-price pb-2 pb-sm-3">
                                    <h2 class="fw-7"><small class="fw-6">$</small>49</h2>
                                </div>
                                <!-- Plan Description -->
                                <div class="plan-description">
                                    <ul class="plan-features">
                                        <li class="border-top py-3">5GB Storage</li>
                                        <li class="border-top py-3">5 Managed Databases</li>
                                        <li class="border-top py-3">24/7 Support</li>
                                        <li class="border-top border-bottom py-3">Automated Backups</li>
                                    </ul>
                                </div>
                                <!-- Plan Button -->
                                <div class="plan-button">
                                    <a href="#" class="btn mt-4">Sign Up</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 mt-4 mt-md-0">
                            <!-- Single Price Plan -->
                            <div class="single-price-plan text-center p-5 wow fadeInRight" data-aos-duration="2s" data-wow-delay="0.4s">
                                <!-- Plan Thumb -->
                                <div class="plan-thumb">
                                    <img class="avatar-lg" src="/Images/Home/pricing/premium.png" alt="Pro Plan">
                                </div>
                                <!-- Plan Title -->
                                <div class="plan-title my-2 my-sm-3">
                                    <h4 class="text-uppercase">Pro</h4>
                                </div>
                                <!-- Plan Price -->
                                <div class="plan-price pb-2 pb-sm-3">
                                    <h2 class="fw-7"><small class="fw-6">$</small>129</h2>
                                </div>
                                <!-- Plan Description -->
                                <div class="plan-description">
                                    <ul class="plan-features">
                                        <li class="border-top py-3">10GB Storage</li>
                                        <li class="border-top py-3">50 Managed Databases</li>
                                        <li class="border-top py-3">Unlimited Emails</li>
                                        <li class="border-top border-bottom py-3">Automated Backups</li>
                                    </ul>
                                </div>
                                <!-- Plan Button -->
                                <div class="plan-button">
                                    <a href="#" class="btn mt-4">Sign Up</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Price Plan Area End ***** -->
    <!-- ***** FAQ Area Start ***** -->
    <section id="faq" class="section faq-area bg-light overflow-hidden ptb_120">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 col-lg-8">
                    <!-- Section Heading -->
                    <div class="section-heading text-center">
                        <h2>Frequently Asked Questions</h2>
                        <p class="mt-4">Find answers to common questions about Koala Inventory Management System and how it can help streamline your inventory processes.</p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-12 col-md-10">
                    <!-- FAQ Content -->
                    <div class="faq-content">
                        <h5 class="fw-6">What is Koala Inventory Management?</h5>
                        <p class="mt-2">Koala is a comprehensive inventory management system designed to simplify tracking, managing, and analyzing your inventory with real-time data and smart insights.</p>

                        <h5 class="fw-6 mt-4">Why use Koala over other inventory systems?</h5>
                        <p class="mt-2">Koala offers a user-friendly interface, advanced analytics, and seamless integration with other tools, helping businesses optimize stock management while minimizing errors and wastage.</p>

                        <h5 class="fw-6 mt-4">How secure is my data with Koala?</h5>
                        <p class="mt-2">Security is a top priority for Koala. Your data is fully protected with encryption, regular backups, and secure access protocols, ensuring compliance with industry standards.</p>

                        <h5 class="fw-6 mt-4">Can I customize features in Koala?</h5>
                        <p class="mt-2">Yes, Koala offers customization options to tailor the system to your business needs, allowing you to define inventory categories, set custom alerts, and more.</p>

                        <h5 class="fw-6 mt-4">Does Koala integrate with other platforms?</h5>
                        <p class="mt-2">Koala integrates with various business tools like ERP systems, accounting software, and e-commerce platforms, ensuring seamless data flow across your operations.</p>

                        <h5 class="fw-6 mt-4">Is technical support available?</h5>
                        <p class="mt-2">We provide 24/7 technical support to assist with setup, troubleshooting, and any other inquiries you may have about Koala.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** FAQ Area End ***** -->


</div>


<!-- jQuery(necessary for all JavaScript plugins) -->
<script src="~/js/landing-page/jquery/jquery.min.js"></script>

<!-- Bootstrap js -->
<script src="~/js/landing-page/bootstrap/popper.min.js"></script>

<!-- Plugins js -->
<script src="~/js/landing-page/plugins/plugins.min.js"></script>

<!-- Active js -->
<script src="~/js/landing-page/active.js"></script>