
@{
    ViewData["Title"] = "Product";
}

<link rel="stylesheet" href="~/css/Suppliers/suppliers.css" />
<div class="container-fluid p-0 suppliers">
    <!-- Products Header Start -->
    <div class="content-header">
        <div class=" heading">
            <h1 class="header-title roboto">Product Details Page</h1>
            <p class="header-subtitle roboto">Showing full details about you product</p>
        </div>
    </div>
    <!-- Products Header End -->

    <!-- Card Details Start -->
    <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <!-- Card Details End -->

</div>