@{
    ViewData["Title"] = "Dashboard";
}
<link rel="stylesheet" href="~/css/Dashboard/dashboard.css" />
<div class="container-fluid p-0 dashboard">
        <!-- Dashboard Header Start-->

        <div class="content-header">
            <div class=" heading">
                <h1 class="header-title">Welcome to Your Dashboard</h1>
                <p class="header-subtitle">Manage your data and get insights at a glance</p>
            </div>
        </div>

        <!-- Dashboard Header End-->

        <div class="p-3">
            <!-- Summary Widget Start-->
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="card gradient-1">
                        <div class="card-body">
                            <h3 class="card-title text-white">Total Sales</h3>
                            <div class="d-inline-block">
                                @* change this from database *@
                                <h2 class="text-white">123</h2>
                            <p class="text-white mb-0">April - October 2024</p>
                            </div>
                            <span class="float-right display-5 opacity-5 icon">
                                <i class="fa fa-shopping-cart"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="card gradient-2">
                        <div class="card-body">
                            <h3 class="card-title text-white">Total Products</h3>
                            <div class="d-inline-block">
                                @* change this from database *@
                                <h2 class="text-white">4545</h2>
                                <p class="text-white mb-0">April - October 2024</p>
                            </div>
                            <span class="float-right display-5 opacity-5 icon">
                                <i class="fa-solid fa-warehouse"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="card gradient-3">
                        <div class="card-body">
                            <h3 class="card-title text-white">Net Profit</h3>
                            <div class="d-inline-block">
                                @* change this from database *@
                                <h2 class="text-white">$ 8541</h2>
                                <p class="text-white mb-0">April - October 2024</p>
                            </div>
                            <span class="float-right display-5 opacity-5 icon">
                                <i class="fa fa-money"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="card gradient-4">
                        <div class="card-body">
                            <h3 class="card-title text-white">Customer Satisfaction</h3>
                            <div class="d-inline-block">
                                <h2 class="text-white">99%</h2>
                                <p class="text-white mb-0">April - October 2024</p>
                            </div>
                            <span class="float-right display-5 opacity-5 icon">
                                <i class="fa fa-heart"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Summary Widget End-->

        </div>
</div>